<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.examsys.dao.RadioDao" >
  <resultMap id="BaseResultMap" type="pojo.Radio" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subjectId" property="subjectid" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="choiceA" property="choicea" jdbcType="VARCHAR" />
    <result column="choiceB" property="choiceb" jdbcType="VARCHAR" />
    <result column="choiceC" property="choicec" jdbcType="VARCHAR" />
    <result column="choiceD" property="choiced" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, subjectId, title, choiceA, choiceB, choiceC, choiceD, answer
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from radio
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from radio
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.Radio" >
    insert into radio (id, subjectId, title, 
      choiceA, choiceB, choiceC, 
      choiceD, answer)
    values (#{id,jdbcType=INTEGER}, #{subjectid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{choicea,jdbcType=VARCHAR}, #{choiceb,jdbcType=VARCHAR}, #{choicec,jdbcType=VARCHAR}, 
      #{choiced,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.Radio" >
    insert into radio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="subjectid != null" >
        subjectId,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="choicea != null" >
        choiceA,
      </if>
      <if test="choiceb != null" >
        choiceB,
      </if>
      <if test="choicec != null" >
        choiceC,
      </if>
      <if test="choiced != null" >
        choiceD,
      </if>
      <if test="answer != null" >
        answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subjectid != null" >
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="choicea != null" >
        #{choicea,jdbcType=VARCHAR},
      </if>
      <if test="choiceb != null" >
        #{choiceb,jdbcType=VARCHAR},
      </if>
      <if test="choicec != null" >
        #{choicec,jdbcType=VARCHAR},
      </if>
      <if test="choiced != null" >
        #{choiced,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.Radio" >
    update radio
    <set >
      <if test="subjectid != null" >
        subjectId = #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="choicea != null" >
        choiceA = #{choicea,jdbcType=VARCHAR},
      </if>
      <if test="choiceb != null" >
        choiceB = #{choiceb,jdbcType=VARCHAR},
      </if>
      <if test="choicec != null" >
        choiceC = #{choicec,jdbcType=VARCHAR},
      </if>
      <if test="choiced != null" >
        choiceD = #{choiced,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.Radio" >
    update radio
    set subjectId = #{subjectid,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      choiceA = #{choicea,jdbcType=VARCHAR},
      choiceB = #{choiceb,jdbcType=VARCHAR},
      choiceC = #{choicec,jdbcType=VARCHAR},
      choiceD = #{choiced,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<!--
陈曦创建：
时间8.29 18:00
-->
  <insert id="insertMany">
    insert into radio(subjectId, title, choiceA, choiceB, choiceC, choiceD, answer)
    values
    <foreach collection="list" item="radio" separator=",">
      (#{radio.subjectId},#{radio.title},#{radio.choiceA},#{radio.choiceB},#{radio.choiceC},#{radio.choiceD},#{radio.answer})
    </foreach>
  </insert>
</mapper>