<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.examsys.dao.ETestDao" >
  <resultMap id="BaseResultMap" type="com.qfedu.examsys.pojo.ETest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="subjectId" property="subjectid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="judgeJson" property="judgejson" jdbcType="VARCHAR" />
    <result column="radioJson" property="radiojson" jdbcType="VARCHAR" />
    <result column="shortAnswerJson" property="shortanswerjson" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, eid, subjectId, name, judgeJson, radioJson, shortAnswerJson
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from eTest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from eTest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.examsys.pojo.ETest" >
    insert into eTest (id, eid, subjectId, 
      name, judgeJson, radioJson, 
      shortAnswerJson)
    values (#{id,jdbcType=INTEGER}, #{eid,jdbcType=INTEGER}, #{subjectid,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{judgejson,jdbcType=VARCHAR}, #{radiojson,jdbcType=VARCHAR}, 
      #{shortanswerjson,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.examsys.pojo.ETest" useGeneratedKeys="true" keyProperty="id">
    insert into eTest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eid != null" >
        eid,
      </if>
      <if test="subjectid != null" >
        subjectId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="judgejson != null" >
        judgeJson,
      </if>
      <if test="radiojson != null" >
        radioJson,
      </if>
      <if test="shortanswerjson != null" >
        shortAnswerJson,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="subjectid != null" >
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="judgejson != null" >
        #{judgejson,jdbcType=VARCHAR},
      </if>
      <if test="radiojson != null" >
        #{radiojson,jdbcType=VARCHAR},
      </if>
      <if test="shortanswerjson != null" >
        #{shortanswerjson,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.examsys.pojo.ETest" >
    update eTest
    <set >
      <if test="eid != null" >
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="subjectid != null" >
        subjectId = #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="judgejson != null" >
        judgeJson = #{judgejson,jdbcType=VARCHAR},
      </if>
      <if test="radiojson != null" >
        radioJson = #{radiojson,jdbcType=VARCHAR},
      </if>
      <if test="shortanswerjson != null" >
        shortAnswerJson = #{shortanswerjson,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.examsys.pojo.ETest" >
    update eTest
    set eid = #{eid,jdbcType=INTEGER},
      subjectId = #{subjectid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      judgeJson = #{judgejson,jdbcType=VARCHAR},
      radioJson = #{radiojson,jdbcType=VARCHAR},
      shortAnswerJson = #{shortanswerjson,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="findByeid" parameterType="int" resultMap="BaseResultMap">
    select * from examsys.eTest where eid =#{eid}
  </select>

  <resultMap id="eTestMap" type="eTest">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="eid" property="eid" jdbcType="INTEGER" />
    <result column="subjectId" property="subjectid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="judgeJson" property="judgejson" jdbcType="VARCHAR" />
    <result column="radioJson" property="radiojson" jdbcType="VARCHAR" />
    <result column="shortAnswerJson" property="shortanswerjson" jdbcType="VARCHAR" />
    <association property="subject" resultMap="com.qfedu.examsys.dao.SubjectDao.subjectMapTwo">

    </association>
  </resultMap>
  <select id="findAlls" parameterType="int" resultMap="eTestMap">
    select e.*, s.name as sname,s.id as sid
    from examsys.eTest e
    inner join examsys.subject s on e.subjectId = s.id
    <where>
      <if test="name!=null">
        s.name like "%${name}%"
      </if>
      <!--            <if test="typename==null">-->
      <!--                and typename like "%1%"-->
      <!--            </if>-->
    </where>
  </select>

<!--  通过考试id查询eTest的id  by: imlee -->
  <select id="findETestIdByEid" parameterType="int" resultType="int">
    select id from eTest where eid = #{eid}
  </select>

<!--  阅卷完成，修改试卷状态 by: imlee   -->
  <update id="changeStatus" parameterType="int">
    update eTest set status = 1 where id = #{eTid}
  </update>

  <select id="QueryById" parameterType="int" resultType="eTest">
    select *
    from eTest
    where id = #{id}
  </select>

  <select id="findETestById" parameterType="int" resultType="int">
    select status from eTest where id = #{id}
  </select>

</mapper>