<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.examsys.dao.JudgeDao" >
  <resultMap id="BaseResultMap" type="com.qfedu.examsys.pojo.Judge" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, answer
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from judge
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from judge
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.examsys.pojo.Judge" >
    insert into judge (id, title, answer
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{answer,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.examsys.pojo.Judge" >
    insert into judge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="answer != null" >
        answer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.examsys.pojo.Judge" >
    update judge
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.examsys.pojo.Judge" >
    update judge
    set title = #{title,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--
  Lei创建：
  时间8-29 22:08
  findJudges集合查找 根据subjectId
  -->
  <select id="findJudges" parameterType="int" resultMap="BaseResultMap">
    select * from examsys.judge where  examsys.judge.subjectId = #{subjectId} and judge.recentType = 1
  </select>


<!--  批量导入判断题-->
  <insert id="insertManyJudges">
    insert into judge(title, answer, subjectId,recentType)
    values
    <foreach collection="list" item="judge" separator=",">
      (#{judge.title},#{judge.answer},#{judge.subjectId},0)
    </foreach>
  </insert>

  <!--
    陈曦创建：
    时间8.30 19:00
    -->
  <resultMap id="judgeAllMap" type="judge">
    <id column="id" property="id"></id>
    <result column="title" property="title"></result>
    <result column="answer" property="answer"></result>
    <result column="subjectId" property="subjectId"></result>
    <association property="subject" resultMap="com.qfedu.examsys.dao.SubjectDao.subjectMapOne">

    </association>
  </resultMap>
  <select id="findAllJudges" parameterType="int" resultMap="judgeAllMap">
    select j.*, s.name
    from judge j
    inner join subject s on j.subjectId = s.id and j.recentType =1
    <where>
      <if test="name!=null">
        name like "%${name}%"
      </if>
      <!--            <if test="typename==null">-->
      <!--                and typename like "%1%"-->
      <!--            </if>-->
    </where>
  </select>
<!--  修改-->
  <select id="updateJudgeAnswer" parameterType="judge">
    update judge
    set answer=#{answer}
    where id = #{id}
  </select>

  <!--    根据id查询-->
  <select id="QueryJudgeById" parameterType="int" resultType="judge">
    select *
    from judge
    where id = #{id}
  </select>



  <select id="findAnythingJudges" parameterType="int" resultMap="judgeAllMap">
    select j.*, s.name
    from judge j
           inner join subject s on j.subjectId = s.id and j.recentType =0
    <where>
      <if test="name!=null">
        name like "%${name}%"
      </if>
      <!--            <if test="typename==null">-->
      <!--                and typename like "%1%"-->
      <!--            </if>-->
    </where>
  </select>
  <!--    录入 更改状态-->
  <select id="updateJudgeRecentType" parameterType="judge">
    update judge
    set recentType = 1
    where id = #{id}

  </select>

  <update id="updateRecentTypeByIds" parameterType="list">
    <!-- foreach 遍历
        collenction 遍历的元素
        Item 遍历的元素的临时变量名
        open、close 遍历出来的数据，使用哪些指定非符号包裹
        sepator 遍历的元素之间使用的分隔符
     -->
    update judge set recentType = 1 where id in
    <foreach collection="list" item="id" open="(" close=")" separator="," >
      #{id}
    </foreach>
  </update>
</mapper>